@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

.release {
  height: 20vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 3vw 3vw 0;
  padding-top: 3vw;
  border: .2vw solid rgb(133, 220, 226);
  border-radius: 1vw;
  font-size: 1.4vw;
  font-family: 'Montserrat', sans-serif;
}

.release img {
  width: 10vw;
}

.link {
  text-decoration: none;
  color: #f7d89e;
  font-weight: 200;
}

.link:hover {
  color: white;
}

.release:hover {
  background: hotpink;
}

.titleh2 {
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #f7d89e;
  font-weight: 200;
}

.titleh3 {
  font-size: 1vw;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #f7d89e;
  font-weight: 200;
  margin-top: -1vw;
}