@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.nav {
  display: flex;
  justify-content: left;
  align-items: left;
  font-family: 'Montserrat', sans-serif;
  color: rgb(93, 93, 93);
  font-size: 1.1vw;
}

.nav button {
  background-color: rgb(133, 220, 226);
  color: white;
  width: 5vw;
  height: 2vw;
  font-size: 1vw;
  text-align: center;
  padding: 0;
  margin: 0.5vw;
  font-family: 'Montserrat', sans-serif;
}

.nav button:hover {
  background-color: hotpink;
  color: white;
}

.nav input {
  width: 14vw;
  height: 2vw;
  font-size: 1.4vw;
  font-family: 'Montserrat', sans-serif;
  margin-right: .5vw;
  border: dotted .1vw rgb(197, 197, 197);
  color: rgb(93, 93, 93);
}

.nav p {
  margin: 10px;
}